body{
  font-family: 'ZCOOL XiaoWei', serif;
}
.top-page{
  background-image: url('../images/bgg.jpg');
  background-size: cover;
  height: 480px;
  width: 100%;
}

.top-page1{
  background-image: url('../images/bg4.png');
  background-size: cover;
  height:480px;
  width: 1250px;
}
.intro{
  text-align: center;
  color: white;
}
a {
  color: #4dff4e;
  text-decoration: none;
}
li{
  display:inline-block;
}
nav ul{
  padding-left: 300px;
  margin: 0px;
  display:inline-block;
  vertical-align:top;
}
nav li{
  display:inline-block;
  font-size: 22px;
  font-family: 'ZCOOL XiaoWei', serif;
  margin-left: 30px;
}
nav>ul>li>a {
  padding: 10px;
  margin-right: 0;
  text-transform: uppercase;
  display: block;
  color: white;
}
.navig{
  float: left;
}
