body{
  font-family: 'ZCOOL XiaoWei', serif;
}
.top-page{
  background-image: url('../images/bgg.jpg');
  background-size: cover;
  height: 480px;
  width: 100%;
}

.top-page1{
  background-image: url('../images/bg4.png');
  background-size: cover;
  height:480px;
  width: 1250px;
}
.intro{
  text-align: center;
  color: white;
}
a {
  color: #4dff4e;
  text-decoration: none;
}
li{
  display:inline-block;
}
nav ul{
  padding-left: 300px;
  margin: 0px;
  display:inline-block;
  vertical-align:top;
}
nav li{
  display:inline-block;
  font-size: 22px;
  font-family: 'ZCOOL XiaoWei', serif;
  margin-left: 30px;
}
nav>ul>li>a {
  padding: 10px;
  margin-right: 0;
  text-transform: uppercase;
  display: block;
  color: white;
}
.navig{
  float: left;
}
.container{
  clear: both;
  padding: 120px;
}
.logo{
  height: 90px;
  width: 200px;
}
.intro-heading1{
  font-size: 60px;
}
.intro-heading1 span{
  color: green;
}
.intro-heading2{
  font-size: 50px;
  padding: 30px;
}
.mypic{
  height: 400px;
  width: 420px;
  float: left;
  padding-right: 40px;

}
#about{
  padding-left: 180px;
  padding-top: 20px;
  width: 1000px;
  height: 540px;
  margin-top: 50px;
}
.about-paragraph{
  font-size: 30px;
  padding-top: 30px;
  font-family: 'ZCOOL XiaoWei', serif;
}
.about-paragraph p{
  font-size: 18px;
  font-family: 'ZCOOL XiaoWei', serif;
}
.about-paragraph span{
  color:#4dff4e;
}
.info{
  font-size: 17px;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color:lightblue;
  border-radius: 10px;
  color: white;
}
.info:hover{
  background-color: #4dff4e;
  color: black;
}
